<div class="main">
  <div class="input">
  <input class="text" type="number" #id placeholder="Enter Teudat Zeut">
  <button class="button" (click)="search(id.value)"> Search </button>
  </div>


<form [formGroup]="form" (ngSubmit)="submit()">
           
  <div class="form-group">
      <select formControlName="usersList" class="form-control">
        <option disabled>Select User</option>
          <option *ngFor="let user of users" [value]="user.id">{{user.firstName}}</option>
          
      </select>
      
  </div>
  <button class="button" type="submit" [disabled]="!form.valid">Submit</button>
</form>



<form [formGroup]="formSubscription" (ngSubmit)="submitSubscription()">
           
  <div class="form-group">
      <select formControlName="subscriptionList" class="form-control">
        <option disabled>Select Subscription</option>
          <option *ngFor="let sub of subs" [value]="sub.subNum">{{sub.subName}}</option>
          
      </select>
      
  </div>
  <button class="button" type="submit" [disabled]="!form.valid">Submit</button>
</form>

<div>
  <ul>
    <li *ngFor ="let pack of packages">{{pack.name}}</li>
  </ul>
</div>

</div>